<h1> Search History </h1>
<table>
  <tbody>
    <% @search.each do |search| %>
      <tr>
       <td><%= search.what %></td>
       <td><%=    %></td>
       <td><%=    %></td>
       <td><%=    %></td>
       <td><%=    %></td>
       <td><%= search.where %></td>
       <td><%= link_to 'submit', listings_url({what: search.what, where: search.where}) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>