<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @public.name %>
</p>

<p>
  <strong>Suite:</strong>
  <%= @public.suite %>
</p>

<p>
  <strong>Street:</strong>
  <%= @public.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @public.city %>
</p>

<p>
  <strong>Province:</strong>
  <%= @public.province %>
</p>

<p>
  <strong>Postal:</strong>
  <%= @public.postal %>
</p>

<p>
  <strong>Work phone:</strong>
  <%= @public.work_phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @public.fax %>
</p>


